<!doctype html>
<html ng-app="app" lang="en">
<head>
  <title>Angular App</title>
  <base href="/">
</head>
<body>
    <div ng-app="app">
		  <div>
			<h1>{{ title }}</h1>
		  </div>
		<div ui-view></div>
	</div>
</body>
</html>
