<div>
	<form ng-submit="submitMyForm()">
	<div>
	  <div>
		<input type="text" ng-model="username" placeholder="username" required=""/>
	  </div> 

	  <div>
		<input type="password" ng-model="password" placeholder="password" required=""/>
	  </div>

	  <div>
		<button type="submit">Login</button>
		<span>{{ error }}</span>
	  </div>
	</div>
	</form>
</div>