<div>
	<form name="userForm" ng-submit="submitMyFormForRegister()">
		<span>{{ error }}</span>
	<div>
	  <div>
		<input type="email"  ng-minlength="5"  ng-model="username" placeholder="username" required=""/>
	  </div> 

	  <div>
		<input type="password"  ng-minlength="6"  ng-model="password" placeholder="password" required=""/>
	  </div>
	  <div>
		<input type="password"  ng-minlength="6"  ng-model="passwordRepeat" placeholder="password again" required=""/>
	  </div>

	  <div>
		<button type="submit"  ng-disabled="userForm.$invalid">Register</button>
	
	  </div>
	  <div>
	  <a ui-sref="login">Login</a>
	  
	  </div>
	</div>
	</form>
</div>